* {
margin: 0;
padding: 0;
font-family: roboto condensed, sans-serif;
}
body{
background-image: url("../src/img/Background.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.navbar{
	margin-bottom:0;
	border-radius: 0;
	border-top: 0;
}

.navbar.navbar-inverse.navbar-bottom{
	border-top: 0;
	opacity: 0.9;
}

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}
#container{
margin: 0 auto;
position: absolute;
width:100%;
overflow: visible;
padding-left: 0;
height: 100%
overflow-y: visible;
}
.svg {
width:1080px;
margin-top: 10px;
height: auto;
margin-left: auto;
margin-right: auto;
overflow: visible;
position: relative;
padding-bottom: 50px;
}
.grid .tick {
stroke: lightgrey;
opacity: 0.3;
shape-rendering: crispEdges;
}
.grid path {
stroke-width: 0;
}
#tag {
color: white;
background: rgba(229,9,20,0.85);
width: 300px;
height: auto;
position: absolute;
display: none;
padding:25px;
margin-left: -55px;
font-size: 12px;
border-radius: 3px;
-webkit-animation: fadein 0.3s;
-moz-animation: fadein 0.3s;
-ms-animation: fadein 0.3s;
-o-animation: fadein 0.3s;
animation: fadein 0.3s;
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
#tag:before {
border: solid transparent;
content: ' ';
height: 0;
left: 50%;
margin-left: -5px;
position: absolute;
width: 0;
border-width: 10px;
border-bottom-color: rgba(229,9,20,0.85);
top: -20px;
overflow: auto;
}