* {
margin: 0;
padding: 0;
font-family: roboto condensed, sans-serif;
}
body{
background-image: url("../src/img/Background.jpg");
background-repeat: no-repeat;
background-size: cover;
}
#container{
margin: 0 auto;
position: absolute;
width:100%;
overflow: visible;
padding-left: 0;
height: 100%
overflow-y: hidden;
}
.svg {
width:1080px;
height: auto;
margin-left: auto;
margin-right: auto;
overflow: visible;
position: relative;
border-radius: 5px;
z-index: 1;
}
.grid .tick {
stroke: lightgrey;
opacity: 0.3;
shape-rendering: crispEdges;
}
.grid path {
stroke-width: 0;
}
#tag {
color: white;
background: rgba(229,9,20,0.85);
width: 300px;
height: auto;
position: absolute;
display: none;
padding:25px;
margin-left: -55px;
font-size: 12px;
border-radius: 3px;
-webkit-animation: fadein 0.3s;
-moz-animation: fadein 0.3s;
-ms-animation: fadein 0.3s;
-o-animation: fadein 0.3s;
animation: fadein 0.3s;
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
#tag:before {
border: solid transparent;
content: ' ';
height: 0;
left: 50%;
margin-left: -5px;
position: absolute;
width: 0;
border-width: 10px;
border-bottom-color: rgba(229,9,20,0.85);
top: -20px;
overflow: auto;
}